.footer{
    background: #9AA39B;
    background-size: cover;
    font-family: $monts;
    &__inner{
        padding: 70px 0px 30px 0;
    }
    &__upper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logotype{
        display: flex;
        align-items: center;
    }
    &__logo{
        img{
            width: 58px;
            height: 59px;
        }
    }
    &__title{
  font-size: 28.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  color: #ffffff;
        padding-left: 7px;
    }
    &__menu{
        display: flex;
        margin-top: 5px;
    }
    &__item{
        padding-right: 10px;
        &:last-child{
            padding-right: 0px;
        }
    }
    &__link{
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  color: #ffffff;
        text-transform: uppercase;
        transition: .5s all ease;
        &:hover{
            color: #ffcb57; 
        }
    }
    hr{
        width: 100%;
         height: 1px;
         background-color: #000000;
        margin: 50px 0px;
    }
    &__lower{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__mail{
  font-size: 31px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: 0.78px;
  color: #ffffff;
    }
    &__info{
        width: 385px;
  font-size: 20px;
        padding: 0px 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
    }
    &__tel{
        display: flex;
        align-items: center;
    }
    &__telIcon{
        .icon-telephone-icon{
            font-size: 35px;
            padding-right: 11px;
            color: white;
        }
    }
    &__numbers{
          font-size: 15.9px;
          line-height: 1.63;
          letter-spacing: 0.4px;
        color: white;
        &-item{
            padding-bottom: 10px;
        }
    }
    @media(max-width:1137px){
        &__upper{
            flex-direction: column;
        }
        &__logotype{
            padding-bottom: 20px;
        }
    }
    @media(max-width:943px){
        &__mail{
  font-size: 21px;
    }
        ul{
            display: none;
        }
    &__info{
  font-size: 15px;
    }
        &__tel{
        display: flex;
        align-items: center;
    }
    &__telIcon{
        .icon-telephone-icon{
            font-size: 30px;
        }
    }
    &__numbers{
          font-size: 10px;
          letter-spacing: 0px;
    }
    }
    @media(max-width:659px){
        &__mail{
            font-size: 15px;
        }
    }
    @media(max-width:497px){
        &__info{
          font-size: 10px;
            width: auto;
    }
        &__mail{
            font-size: 10px;
        }
        &__telIcon{
        .icon-telephone-icon{
            font-size: 20px;
        }
    }
    &__numbers{
          font-size: 10px;
          letter-spacing: 0px;
    }
    }
    @media(max-width:401px){
        hr{
            margin: 20px 0px;
        }
        &__tel{
            margin-right: 20px;
        }
        &__info{
            padding: 20px 0px;
            font-size: 15px;
        }
        &__telIcon{
        .icon-telephone-icon{
            font-size: 15px;
        }
        }
        &__numbers{
                font-size: 15px;
            }
        &__mail{
            font-size: 15px;
        }
        &__lower{
                flex-direction: column;
            }
    }
}