@import "null.scss";

@import "header.scss";

@import "footer.scss";

$monts: 'Montserrat Alternates', sans-serif;

$sans: 'Open Sans', sans-serif;

$russo: 'Russo One', sans-serif;

// Для приветственной страницы

.wrapper{
    min-height: 100vh;
    overflow: hidden;
}
.container{
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
}

#toTop {
width:100px;
border-radius: 50px;
color: white;
text-align:center;
position:fixed;
bottom:10px; 
right:10px;
cursor:pointer;
display:none;
font-family: 'Century Gothic Regular'; 
font-size:11px;
     z-index: 4; 
}

.arrow {
    position: relative;
    cursor: pointer;
    margin:20px;
    width: 66px;
    height: 30px;
    &__left{
        position: absolute;
        background-color: transparent;
        top: 10px;
        left: 0;
        width: 40px;
        height: 10px;
        display: block;
        transform: rotate(-35deg);
        float: right;
        border-radius: 2px;
        &:after{
            content: "";
            background-color: #337AB7;
            width: 40px;
            height: 10px;
            display: block;
            float: right;
            border-radius: 6px 10px 10px 6px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
             z-index: 1; 
        }
    }
    &__right{
        position: absolute;
        background-color: transparent;
        top: 10px;
        left: 26px;
        width: 40px;
        height: 10px;
        display: block;
        transform: rotate(35deg);
        float: right;
        border-radius: 2px;
        &:after{
            content: "";
            background-color: #337AB7;
            width: 40px;
            height: 10px;
            display: block;
            float: right;
            border-radius: 10px 6px 6px 10px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
            z-index: 1; 
        }
    }
}

.container__hello{
    max-width: 1805px;
    margin: 0 auto;
    position: relative;
}

.d-flex{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
}

.logoBox{
    display: flex;
    align-items: center;
    .logo{
    width: 91px;
    height: 91px;
}
    a{
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.59;
  letter-spacing: 1.1px;
  color: #ffffff;
    }
}



.parallax{
    height: 100vh;
    position: relative;
    &__mountain{
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        &_1{
            background: url("../img/parallax-1/bgParallax1.jpg") 0 0 / cover no-repeat;
        }
        &_2{
            z-index: 4;
            background: url("../img/parallax-1/m_2.png") bottom right / 45% no-repeat;
        }
        &_3{
            z-index: 4;
            background: url("../img/parallax-1/m_3.png") left bottom / 100% no-repeat;
        }
    }
    &__fog{
        background: url("../img/parallax-1/fog_1.png") bottom / 100% no-repeat;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 4;
    }
}

.header{
    &__inner{
        height: 15vh;
    justify-content: space-between;
    align-items: center;
    font-family: $monts;
}
}

.menu{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    &__item{
        padding-right: 30px;
        &:last-child{
            padding-right: 0px;
        }
        a{
           font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.93;
      letter-spacing: 0.7px;
      color: #000;
        transition: .3s all ease;
            &:hover{
              color: #ffcb57;   
            }
        }      
    }
}
// Контент
.content{
    .content__inner{
        background: rgba(0, 0, 0, .3);
        font-family: $sans;
    }
}

.left, .right{
        width: 50%;
        position: relative;
    }
    .btn{
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #ffffff;
    text-transform: uppercase;
        background: #e56565;
        padding: 20px;
        border-radius: 5px;
        transition: .3s all ease;
        &:hover{
            box-shadow: 0px 9px 62px 0 rgba(229, 101, 101, 0.7);
        }
    }

//Левая часть контента
.left{
    justify-content: center;
    align-items: center;
        background: linear-gradient(to top, rgba(94, 40, 166, .04), rgba(82, 25, 158, .04)), linear-gradient(to bottom, rgba(0, 0, 0, .04), rgba(0, 0, 0, .04));
        height: 80vh;
    &__body{
        margin-left: 53px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 40px;
        color: #fff;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: 1.38px;
        margin-bottom: 100px;
        flex-direction: column;
        span{
            text-align: center;
            
        }
    }
    &__btn{
        margin-left: 110px;
    }
}
//Правая часть контента

.right{
    &__inner{
      
    }
    &__ellips{
        background: url("../img/parallax-2/ellipse.png") no-repeat center / contain;
        width: 75%;
        height: 75%;
        bottom: 5%;
        left: 7%;
        position: absolute;
        z-index: 2;
    }
    &__arrows{
        background: url("../img/parallax-2/arrows.png") no-repeat center / contain;
        width: 15%;
        height: 20%;
        bottom: 5%;
        left: 80%;
        position: absolute;
    }
    &__zigzag{
        background: url("../img/parallax-2/zigzag.png") no-repeat center / contain;
        width: 25%;
        height: 25%;
        left: 65%;
        position: absolute;
    }
    &__builder{
        background: url("../img/parallax-2/Builder.png") no-repeat center / contain;
        width: 110%;
        height: 108%;
        left: 7%;
        position: absolute;
        z-index: 3;
    }
    &__rectangle{
        background: url("../img/parallax-2/rectangle.png") no-repeat center / contain;
        width: 20%;
        height: 75%;
        top: 25%;
        left: -20%;
        position: absolute;
    }
    &__hammer{
        background: url("../img/parallax-2/hammer.png") no-repeat center / contain;
        width: 35%;
        height: 75%;
        top: 3%;
        left: 3%;
        z-index: 1;
        position: absolute;
    }
    &__handsaw{
        background: url("../img/parallax-2/handSaw.png") no-repeat center / contain;
        width: 65%;
        height: 85%;
        top: 35%;
        left: -20%;
        z-index: 1;
        position: absolute;
    }
}
.burger{
    transition: .3s all ease;
    visibility: hidden;
    span{
        display: block;
        width: 30px;
        position: relative;
        height: 3px;
        background-color: black;
        border-radius: 5px;
        &:after,&:before{
            content: "";
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: black;
            border-radius: 5px;
            transition: .4s all ease;
        }
        &:after{
            top: 10px;
        }
        &:before{
            top:-10px;
        }
    }
}
@media(max-width:1638px){
    .logoBox{

    .logo{
    width: 85px;
    height: 85px;
}
    a{
  font-size: 39px;

    }
}
.menu{

    &__item{
        padding-right: 25px;
        a{
           font-size: 20px;
        }      
    }
}
}
@media(max-width:1282px){
        .logoBox{

    .logo{
    width: 70px;
    height: 70px;
}
    a{
  font-size: 30px;

    }
}
.menu{

    &__item{
        padding-right: 25px;
        a{
           font-size: 15px;
        }      
    }
}
    
    .left{
    justify-content: flex-start;
    align-items: center;
    &__body{
        margin-left: 10px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 40px;
        margin-bottom: 100px;
        display: block;
        span{
            text-align: center;
            
        }
    }
    &__btn{
        margin-left: 110px;
    }
}
}

@media(max-width:1028px){
       .logoBox{
    padding-top: 10px;
           align-self: flex-start;
    .logo{
    width: 100px;
    height: 100px;
}
    a{
  font-size: 50px;

    }
}
    .header{
     
    &__inner{
        height: 15vh;
        flex-direction: column;
        align-items: center;
    justify-content: space-between;
    font-family: $monts;
}
}
    .burger{
        visibility: visible;
          margin-left: 100%;
    }
    .close{   
        width: 30px;
        span{
            width: 0px;
            height: 2px;
            visibility: hidden;
            transition: .4s all ease;
            &:after, &:before{
                transition: .4s all ease;
                visibility: visible;
            }
            &:after{
                transform: rotate(45deg);
                top: -2%;
            }
            &:before{
                transform: rotate(-45deg);
                top: 2%;
            }
        }
    }
    .icon-burger{
        visibility: visible;
    }
    .menu{
        z-index: 4;
        list-style: none;
        display: flex;
        position: relative;
        top: -500px;
        flex-direction: column;
        justify-content: center;
        margin-left: 70px;
        align-items: center;
        transition: .5s all ease;
    &__item{
        padding-left: 0px;
        padding-top: 30px;
        a{
           font-size: 28px;
        }      
    }
}
    
    .visible{
        top: 0;
        background-color: rgba(0,0,0,.7);
        width: 2000px;
    }
    
}

@media(max-width:942px){
    .burger{
          margin-left: 70%;
    }
}

@media (max-width:872px){
    .burger{
      margin-left: 50%;
    }

}

@media (max-width: 871px){
    .left{
        width: 100%;
        justify-content: center;
        &__body{
        margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
    &__title{
        font-size: 60px;
        text-align: center;
        margin-bottom: 100px;
        display: block;
        span{
            text-align: center;
            
        }
    }
    &__btn{
        margin-left: 0px;
    }
    }
    .right{
        visibility: hidden;
        width: 0%;
    }
    .menu{
         top: -550px;
    &__item{
        padding-left: 0px;
        padding-top: 40px;
        a{
           font-size: 28px;
            color: #FFCB57;
            &:hover{
                color: #fff;
            }
        }      
    }
}

    .visible{
        top: 0;
        background-color: rgba(0,0,0,.9);

    }
}
.icon-burger:before {
  content: "\e900";
}

@media(max-width:716px){
    .header__inner{
        height: 10vh;
    }
    .content__inner{
        height: 90vh;
    }
    .burger{
        margin-left: 90%;
    }
    .logoBox{

    .logo{
    width: 70px;
    height: 70px;
}
    a{
  font-size: 30px;
    }
}
}

@media(max-width:588px){
    .burger{
        margin-left: 70%;
    }
}
@media(max-width:524px){
    .burger{
        margin-left: 50%;
    }
}

@media(max-width:488px){
    .burger{
        margin-left: 40%;
    }
    .left__title{
        font-size: 40px;
        margin-bottom: 50px;
    }
}

@media(max-width:438px){
    .burger{
        margin-left: 20%;
    }
}
@media(max-width:378px){
    .burger{
        margin-left: 10%;
    }
}
@media(max-width:346px){
    .burger{
        margin-left: 20%;
    }
    .logoBox{

    .logo{
    width: 50px;
    height: 50px;
}
    a{
  font-size: 25px;
    }
}
     .menu{
        flex-direction: column;
        justify-content: center;
         margin-left: 30px;
        align-items: center;
        transition: .5s all ease;
    &__item{
        padding-left: 0px;
        padding-top: 30px;
        a{
           font-size: 20px;
        }      
    }
}  
}

/*******************************MAIN********************************/
/* PREVIW BLOCK*/
.preview{
    padding-top: 70px;
    width: 100wh;
    min-height: 61.5vh;
    background-color: #9a9a9a;
    &__inner{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__left{
        background: url("../img/preview/cottageLeft.png");
        width: 860px;
        height: 448px;
        font-family: $russo;
        display: flex;
        justify-content: space-between;
        &_l{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__right{
        background: url("../img/preview/cottageRight.png");
        width: 267px;
        height: 441px;
        margin-left: 880px;
        font-family: $sans;
    }
    &__left,&__right{
        position: absolute;
        top:-100px;
        padding-top: 93px;
    }
    &__title{
        width: 481px;
  font-size: 48.5px;
  line-height: 0.86;
  letter-spacing: 1.46px;
  text-transform: uppercase;
  color: #ffffff;
        text-align: center;
    }
    &__button{
        padding-top: 46px;
        transition: .5s all ease;
        &:hover{
                transform: rotate(10deg);
            }
        a{
          background-color: #ffe7a1;
          font-size: 30px;
          text-transform: uppercase;
          line-height: 0.87;
          letter-spacing: 0.75px;
          color: #333333;
           padding: 17px 35px; 
        }
    }
    &__pluses{
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        &_item{
            display: flex;
            align-items: center;
            padding-top: 50px;
            &:first-child{
                padding-top: 0px;
            }
            span{
                font-size: 50px;
            }
        }
    }
    &__text{
          width: 233px;
          font-size: 15px;
          line-height: 1.74;
          letter-spacing: 0.48px;
          color: #ffcb57;
        text-transform: uppercase;
        padding-left: 15px;
        text-align: center;
    }
    &__discount{
        position: relative;
        top: -19%;
        width: 144px;
  font-size: 35px;
  line-height: 1.73;
  letter-spacing: 0.88px;
   background-color: #ffe7a1;
  color: #000000;
        text-align: center;
    }
    &__banner{
        position: relative;
        top: -10%;
        width: 244px;
        text-align: center;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 1.16px;
  color: #ffffff;
        span{
            font-size: 40px;
            padding-left: 5px;
            text-transform: uppercase;
        }
    }
    &__desc{
  font-size: 18px;
  line-height: 1.08;
  letter-spacing: 0.45px;
  color: #ffffff;
  text-align: center;
    }
    .btn__discount{
        padding-left: 15px;
        &:hover{
            transform: rotate(-10deg);
        }
        a{
          font-size: 18.5px;
          line-height: 1.08;
          letter-spacing: 0.46px;
          color: #000000;
          padding: 15px 40px;
        }
    }
    @media(max-width:1161px){
        &__left,&__right{
            top:0px;
            position: relative;
        }
        &__right{
            display: none;
        }
        &__inner{
            justify-content: center;
        }
    }
    @media(max-width:836px){
        &__left{
            width: 600px;
            &_l{
                padding-top: 30px;    
            }
        }
        &__title{
            width:auto;
            font-size: 30px;
            text-align:center;
        }
    }
    @media(max-width:614px){
        &__text{
            font-size: 12px;
        }
        &__pluses_item{
            span{
                font-size: 30px;
            }
        }
    }
    @media(max-width:580px){
        &__pluses{
            display: none;
        }
    }
    @media(max-width:565px){
        &__left{
            top:-150px;
        }
        &__title{
            line-height: 1.5;
        }
        &{
            padding-top: 0px;
        }
    }
    @media(max-width:531px){
        &__left{
            background: none;
        }
        
    }
}
/* TECHNOLOGY BLOCK*/
@font-face {
font-family: 'Century Gothic Regular';
src: url('../fonts/CenturyGothic/CenturyGothic.eot');
src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'), url("../fonts/CenturyGothic/CenturyGothic.woff") format ("woff"),
url("../fonts/CenturyGothic/CenturyGothic.ttf") format('truetype');
font-weight: normal;
font-style: normal;
}



.technology{
    background: #eef4fa;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Century Gothic Regular'; 
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    &__inner{
        padding-top: 70px;
    }
    &__title{
          color: #393648;
          font-size: 47.5px;
          line-height: 1.26;
          letter-spacing: 1.19px;
        text-align: center;
         font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        padding-top: 137px;
    }
    &__card{
        width: 555px;
        height: 400px;
        background-repeat: no-repeat;
        position: relative;
    }
    &__brick{
        background: url(../img/technology/house.png);
    }
    &__wood{
        background: url(../img/technology/woodHouse.png);
    }
    &__item{
        
    }
    &__label{
        position: absolute;
        width: 390px;
        height: 67px;
        background-color: #393648;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          font-size: 38.5px;
          line-height: 1.26;
          color: #ffe7a1;
          text-transform: uppercase;
        }
    }
    &__description{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 165px;
        height: 67px;
        background-color: #ffe7a1;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        span{
          font-size: 21.5px;
          line-height: 1.26;
          letter-spacing: 0.54px;
          color: #393648;
        }
    }
    @media(max-width:1149px){
        height: 100%;
        &__content{
        flex-direction: column;
            align-items: center;
    }
        &__item{
            padding-bottom: 50px;
        }
    }
    @media(max-width:583px){
        &__card{
        width: 450px;
    }
    }
    @media(max-width:463px){
         &__card{
        width: 250px;
    }
        &__label{
        width: 250px;
        span{
          font-size: 25px;
          line-height: 1.26;
          color: #ffe7a1;
          text-transform: uppercase;
        }
    }
        &__title{
          color: #393648;
          font-size: 35px;
          line-height: 1.26;
          letter-spacing: 1.19px;
        text-align: center;
    }
        &__content{
        padding-top: 70px;
    }
    }
}

/*POPULAR BLOCK*/
.popular{
    font-family: 'Century Gothic Regular'; 
    background: #333;
    background-size: cover;
    &__inner{
        padding: 70px 0px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
    }
    &__title{
        font-weight: normal;
    font-stretch: normal;
    font-style: normal;
  font-size: 49px;
  line-height: 1.26;
  letter-spacing: 1.23px;
  color: #ffffff;
    }
    &__btn{
    
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: 0.43px;
  color: #333333;
        background-color: #ffe7a1;
        padding: 20px 10px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        
    }
    &__upper,&__lower{
        display: flex;
        justify-content: space-between;
    }
    &__upper{
        padding-bottom: 40px;
    }
    &__item{
        border: 2px solid #ffe7a1;
    }
    &__image{
        background-repeat: no-repeat;
        width: 360px;
        height: 299px;
    }
    &__dd1{
        background: url("../img/popular/dd-1.png");
    }
    &__dd2{
        background: url("../img/popular/dd-2.png");
    }
    &__dd3{
        background: url("../img/popular/dd-3.png");
        background-repeat: no-repeat;
    }
    &__kd1{
        background: url("../img/popular/kd-1.png");
    }
    &__kd2{
        background: url("../img/popular/kd-2.png");
        background-repeat: no-repeat;
    }
    &__kd3{
        background: url("../img/popular/kd-3.png");
        background-repeat: no-repeat;
    }
    &__label{
        width: 163px;
        height: 41px;
        background-color: #333333;
  font-size: 28.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.71px;
  text-align: center;
  color: #ffffff;
        text-transform: uppercase;
        border-top: 2px solid #333;
    }
    &__subimage{
        width: 360px;
        height: 149px;
        background-color: #ffe7a1;
        position: relative;
        hr{
             width: 350px;
             height: 1px;
             background-color: #333333;
            position: absolute;
            top: 40px;
            left: 5px;
            margin-top: 15px;
        }
    }
    &__cost{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.45px;
  color: #393648;
    }
    &__square{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.45px;
  color: #585255;
        text-transform: uppercase;
        padding-top: 45px;
        span{
            text-transform: none;
        }
    }
    &__cost,&__square{
        position: absolute;
        top: 20px;
        left: 5px;
        
    }
    &__view{
        position: absolute;
        bottom: 0;
        right: 20px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.23;
  letter-spacing: 0.33px;
  color: #585255;
        transition: .5s all ease;
        &:after{
            transition: .5s all ease;
            content: "";
            position: absolute;
            display: block;
            right: -10px;
            top: 30%;
            width: 9px;
            height: 1px;
            background-color: #585255;
            transform: rotate(45deg);
        }
        &:before{
            transition: .5s all ease;
            content: "";
            position: absolute;
            display: block;
            right: -10px;
            top: 70%;
            width: 9px;
            height: 1px;
            background-color: #585255;
            transform: rotate(-45deg);
        }
        &:hover{
            &:before,&:after{
                right: -15px;
            }
        }
    }
    @media(max-width:1131px){
        &__upper,&__lower{
            flex-direction: column;
            align-items: center;
        }
        &__upper{
            padding-bottom: 0px;
        }
        &__item{
            margin-top: 20px;
        }
    }
    @media(max-width:765px){
        &__title{
            font-size: 35px;
        }
    }
    @media(max-width:603px){
        &__header{
            flex-direction: column;
            padding-bottom: 50px;
        }
        &__title{
            padding-bottom: 40px;
        }
    }
    @media(max-width:421px){
        &__title{
            font-size: 25px;
        }
        &__btn{
            padding: 15px 5px;
        }
    }
    @media(max-width:383px){
        &__image{
            width: 300px;
        }
        &__subimage{
            width:300px;
        }
    }
}

.container__about{
    max-width: 780px;
    padding: 0 15px;
    margin: 0 auto;
}

.about{
    font-family: 'Century Gothic Regular'; 
    background-color: #cdd7cc;
    background-size: cover;
    &__inner{
        padding: 70px 0px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 42px;
    }
    &__title_l{
        width: 457px;
        text-align: center;
  font-size: 31px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: 0.78px;
  color: #000000;
    }
    &__title_r{
        width: 554px;
    text-align: center;   
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.26;
  letter-spacing: 0.38px;
  color: #ffffff;
    }
    &__formBg{
        background: url("../img/about/bgForm.png");
        background-repeat: no-repeat;
        width: 750px;
        height: 310px; 
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 47px;
    }
    &__description{
        width: 354px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
        span{
            color: #ffe7a1;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__name{
    }
    &__name,&__tel{
        background-color: transparent;
        border-bottom: 2px solid #dddbdb;
        padding: 0px 0px 3px 30px;
        margin-bottom: 20px;
         width: 262px;
        color: white;
    }
    &__name::placeholder,&__tel::placeholder{
        color: rgba(255, 255, 255, 0.76);
    }
    &__tel{
        
    }
    &__btn{
        background-color: #ffe7a1;
        padding: 10px 5px;
        cursor: pointer;
        &-l{
            padding: 9px 5px;
        }
    }
    &__buttons{
      display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__file-btn{
       
    }
    &__image{
        display: none;
    }
    &__input-wrapper{
        position: relative;
        span{
            position: absolute;
            left: 0;
        }
    }
    .icon-phone-icon{
        font-size: 18px;
        color: #fff;
    }
    .icon-name-icon{
       font-size: 19px;
        color: #fff; 
    }
    @media(max-width:779px){
     &__title_l{
  font-size: 20px;
    }
    &__title_r{ 
  font-size: 12px;
    }
        &__formBg{
        width: 550px;
        flex-direction: column; 
    }
}
    @media(max-width:619px){
         &__formBg{
        width: 450px;
        flex-direction: column; 
    }
    }
    @media(max-width:469px){
        &__header{
            display: flex;
        flex-direction: column;
        padding-bottom: 42px;
    }
        &__title_l,&__title_r{
            width: auto;
        }
        &__title_l{
            padding-bottom: 20px;
        }
         &__title_r{
            font-size: 15px;
        }
        &__formBg{
        width: 350px;
    }
    }
    @media(max-width:367px){
        &__formBg{
        width: 270px;
    }
        &__description{
        width: 254px;
        font-size: 13px;
    }
    }
    &__lower{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__sub{
        display: flex;
        align-items: center;
    }
    &__txtVideo{
  font-size: 19.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.95;
  letter-spacing: 0.49px;
  color: #000000;
    }
    &__subscribe{
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.95;
  letter-spacing: 0.48px;
  color: #000000;
        border-bottom: 1px solid black;
    }
    .icon-youtube-icon{
        font-size: 30px;
        color: #333033;
    }
    &__video{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    @media(max-width:609px){
        &__txtVideo{
            font-size: 15px;
        }
        &__subscribe{
            font-size: 15px;
        }
        .icon-youtube-icon{
        font-size: 25px;
    }
    }
    @media(max-width:471px){
        &__lower{
            flex-direction: column;
        }
         &__txtVideo{
            padding-bottom: 10px;
        }
        .icon-youtube-icon{
        font-size: 20px;
    }
    }
}










