@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.headerMain {
  color: white;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #000;
  width: 100%;
  min-height: 38.5vh;
}
.headerMain__inner {
  padding-top: 17px;
}
.headerMain__inner_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMain__inner_down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMain__logoBox {
  display: flex;
  align-items: center;
}
.headerMain__icon img {
  width: 76px;
  height: 76px;
}
.headerMain__text {
  font-size: 37px;
  line-height: 0.59;
  letter-spacing: 0.93px;
}
.headerMain__tel {
  margin-left: 130px;
  display: flex;
  align-items: center;
}
.headerMain__telIcon .icon-telephone-icon {
  font-size: 35px;
  padding-right: 11px;
}
.headerMain__numbers {
  font-size: 15.9px;
  line-height: 1.63;
  letter-spacing: 0.4px;
}
.headerMain__numbers-item {
  padding-bottom: 10px;
}
.headerMain__mail {
  font-size: 15.9px;
  line-height: 1.63;
  letter-spacing: 0.4px;
}
.headerMain__button a {
  font-size: 15.9px;
  line-height: 1.63;
  letter-spacing: 0.4px;
  background-color: #ffe7a1;
  color: #000000;
  border-radius: 15px;
  padding: 15px 7px;
}
.headerMain hr {
  width: 100%;
  height: 1px;
  background-color: #cfc8ba;
  margin: 50px 0px;
}
.headerMain__menu {
  z-index: 2;
  display: flex;
}
.headerMain__menu-item {
  padding-left: 29px;
}
.headerMain__menu-item:first-child {
  padding-left: 0px;
}
.headerMain__menu-item a {
  font-size: 17px;
  line-height: 1.63;
  letter-spacing: 0.48px;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.3s all ease;
}
.headerMain__menu-item a:hover {
  color: #ffcb57;
}
.headerMain__menu-item:hover ul {
  display: block;
}
.headerMain__menu-item:hover ul li a {
  font-weight: bold;
}
.headerMain__menu-item ul {
  display: none;
  position: absolute;
}
.headerMain__menu-item ul li a {
  padding: 10px 10px 10px 0px;
  text-transform: none;
}
.headerMain__contacts {
  display: flex;
  align-items: center;
}
.headerMain__contacts_icon span {
  color: #cfc8ba;
  font-size: 33px;
}
.headerMain__contacts_txt a {
  font-size: 20px;
  line-height: 1.63;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-left: 10px;
  color: #fff;
  transition: 0.3s all ease;
}
.headerMain__contacts_txt a:hover {
  color: #ffcb57;
}
.headerMain__burger {
  cursor: pointer;
  transition: 0.4s all ease;
  visibility: hidden;
}
.headerMain__burger span {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 10px;
}
.headerMain__burger span:after, .headerMain__burger span:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 10px;
  transition: 0.4s all ease;
}
.headerMain__burger span:after {
  top: 8px;
}
.headerMain__burger span:before {
  top: -8px;
}
@media (max-width: 1110px) {
  .headerMain__menu {
    display: flex;
  }
  .headerMain__menu-item {
    padding-left: 29px;
  }
  .headerMain__menu-item a {
    font-size: 13px;
  }
  .headerMain__contacts {
    display: flex;
    align-items: center;
  }
  .headerMain__contacts_icon span {
    color: #cfc8ba;
    font-size: 33px;
  }
  .headerMain__contacts_txt a {
    font-size: 13px;
  }
  .headerMain__tel {
    margin-left: 0px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 937px) {
  .headerMain__tel {
    display: none;
  }
  .headerMain__mail {
    display: none;
  }
  .headerMain__contacts {
    display: none;
  }
  .headerMain__inner_down {
    justify-content: center;
  }
}
@media (max-width: 761px) {
  .headerMain__burger {
    visibility: hidden;
  }
  .headerMain__menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px;
    transition: 0.5s all ease;
  }
  .headerMain__menu-item {
    padding: 0px 0px 10px 0px;
  }
  .headerMain__menu-item ul {
    display: none;
  }
  .headerMain__menu-item ul li {
    display: none;
  }
  .headerMain .visibleMain {
    top: 140px;
    background-color: #333;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 565px) {
  .headerMain {
    background-color: #9A9A9A;
  }
  .headerMain hr {
    display: none;
  }
  .headerMain__burger {
    visibility: visible;
  }
  .headerMain__menu {
    top: -500px;
  }
  .headerMain__menu li a {
    font-size: 17px;
    color: black;
    font-weight: 900;
  }
  .headerMain__logoBox {
    align-items: center;
  }
  .headerMain__icon img {
    width: 40px;
    height: 40px;
  }
  .headerMain__text {
    font-size: 20px;
  }
  .headerMain .visibleMain {
    top: 70px;
    background-color: transparent;
  }
  .headerMain__button a {
    padding: 10px 5px;
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .headerMain__button {
    display: none;
  }
}

.footer {
  background: #9AA39B;
  background-size: cover;
  font-family: "Montserrat Alternates", sans-serif;
}
.footer__inner {
  padding: 70px 0px 30px 0;
}
.footer__upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logotype {
  display: flex;
  align-items: center;
}
.footer__logo img {
  width: 58px;
  height: 59px;
}
.footer__title {
  font-size: 28.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  color: #ffffff;
  padding-left: 7px;
}
.footer__menu {
  display: flex;
  margin-top: 5px;
}
.footer__item {
  padding-right: 10px;
}
.footer__item:last-child {
  padding-right: 0px;
}
.footer__link {
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.5s all ease;
}
.footer__link:hover {
  color: #ffcb57;
}
.footer hr {
  width: 100%;
  height: 1px;
  background-color: #000000;
  margin: 50px 0px;
}
.footer__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__mail {
  font-size: 31px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: 0.78px;
  color: #ffffff;
}
.footer__info {
  width: 385px;
  font-size: 20px;
  padding: 0px 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
.footer__tel {
  display: flex;
  align-items: center;
}
.footer__telIcon .icon-telephone-icon {
  font-size: 35px;
  padding-right: 11px;
  color: white;
}
.footer__numbers {
  font-size: 15.9px;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: white;
}
.footer__numbers-item {
  padding-bottom: 10px;
}
@media (max-width: 1137px) {
  .footer__upper {
    flex-direction: column;
  }
  .footer__logotype {
    padding-bottom: 20px;
  }
}
@media (max-width: 943px) {
  .footer__mail {
    font-size: 21px;
  }
  .footer ul {
    display: none;
  }
  .footer__info {
    font-size: 15px;
  }
  .footer__tel {
    display: flex;
    align-items: center;
  }
  .footer__telIcon .icon-telephone-icon {
    font-size: 30px;
  }
  .footer__numbers {
    font-size: 10px;
    letter-spacing: 0px;
  }
}
@media (max-width: 659px) {
  .footer__mail {
    font-size: 15px;
  }
}
@media (max-width: 497px) {
  .footer__info {
    font-size: 10px;
    width: auto;
  }
  .footer__mail {
    font-size: 10px;
  }
  .footer__telIcon .icon-telephone-icon {
    font-size: 20px;
  }
  .footer__numbers {
    font-size: 10px;
    letter-spacing: 0px;
  }
}
@media (max-width: 401px) {
  .footer hr {
    margin: 20px 0px;
  }
  .footer__tel {
    margin-right: 20px;
  }
  .footer__info {
    padding: 20px 0px;
    font-size: 15px;
  }
  .footer__telIcon .icon-telephone-icon {
    font-size: 15px;
  }
  .footer__numbers {
    font-size: 15px;
  }
  .footer__mail {
    font-size: 15px;
  }
  .footer__lower {
    flex-direction: column;
  }
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

#toTop {
  width: 100px;
  border-radius: 50px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  font-family: "Century Gothic Regular";
  font-size: 11px;
  z-index: 4;
}

.arrow {
  position: relative;
  cursor: pointer;
  margin: 20px;
  width: 66px;
  height: 30px;
}
.arrow__left {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}
.arrow__left:after {
  content: "";
  background-color: #337AB7;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: 1;
}
.arrow__right {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.arrow__right:after {
  content: "";
  background-color: #337AB7;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: 1;
}

.container__hello {
  max-width: 1805px;
  margin: 0 auto;
  position: relative;
}

.d-flex {
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}

.logoBox {
  display: flex;
  align-items: center;
}
.logoBox .logo {
  width: 91px;
  height: 91px;
}
.logoBox a {
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.59;
  letter-spacing: 1.1px;
  color: #ffffff;
}

.parallax {
  height: 100vh;
  position: relative;
}
.parallax__mountain {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__mountain_1 {
  background: url("../img/parallax-1/bgParallax1.jpg") 0 0/cover no-repeat;
}
.parallax__mountain_2 {
  z-index: 4;
  background: url("../img/parallax-1/m_2.png") bottom right/45% no-repeat;
}
.parallax__mountain_3 {
  z-index: 4;
  background: url("../img/parallax-1/m_3.png") left bottom/100% no-repeat;
}
.parallax__fog {
  background: url("../img/parallax-1/fog_1.png") bottom/100% no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

.header__inner {
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
}

.menu {
  list-style: none;
  display: flex;
  text-transform: uppercase;
}
.menu__item {
  padding-right: 30px;
}
.menu__item:last-child {
  padding-right: 0px;
}
.menu__item a {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.93;
  letter-spacing: 0.7px;
  color: #000;
  transition: 0.3s all ease;
}
.menu__item a:hover {
  color: #ffcb57;
}

.content .content__inner {
  background: rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", sans-serif;
}

.left, .right {
  width: 50%;
  position: relative;
}

.btn {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  background: #e56565;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s all ease;
}
.btn:hover {
  box-shadow: 0px 9px 62px 0 rgba(229, 101, 101, 0.7);
}

.left {
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(94, 40, 166, 0.04), rgba(82, 25, 158, 0.04)), linear-gradient(to bottom, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
  height: 80vh;
}
.left__body {
  margin-left: 53px;
}
.left__title {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.38px;
  margin-bottom: 100px;
  flex-direction: column;
}
.left__title span {
  text-align: center;
}
.left__btn {
  margin-left: 110px;
}

.right__ellips {
  background: url("../img/parallax-2/ellipse.png") no-repeat center/contain;
  width: 75%;
  height: 75%;
  bottom: 5%;
  left: 7%;
  position: absolute;
  z-index: 2;
}
.right__arrows {
  background: url("../img/parallax-2/arrows.png") no-repeat center/contain;
  width: 15%;
  height: 20%;
  bottom: 5%;
  left: 80%;
  position: absolute;
}
.right__zigzag {
  background: url("../img/parallax-2/zigzag.png") no-repeat center/contain;
  width: 25%;
  height: 25%;
  left: 65%;
  position: absolute;
}
.right__builder {
  background: url("../img/parallax-2/Builder.png") no-repeat center/contain;
  width: 110%;
  height: 108%;
  left: 7%;
  position: absolute;
  z-index: 3;
}
.right__rectangle {
  background: url("../img/parallax-2/rectangle.png") no-repeat center/contain;
  width: 20%;
  height: 75%;
  top: 25%;
  left: -20%;
  position: absolute;
}
.right__hammer {
  background: url("../img/parallax-2/hammer.png") no-repeat center/contain;
  width: 35%;
  height: 75%;
  top: 3%;
  left: 3%;
  z-index: 1;
  position: absolute;
}
.right__handsaw {
  background: url("../img/parallax-2/handSaw.png") no-repeat center/contain;
  width: 65%;
  height: 85%;
  top: 35%;
  left: -20%;
  z-index: 1;
  position: absolute;
}

.burger {
  transition: 0.3s all ease;
  visibility: hidden;
}
.burger span {
  display: block;
  width: 30px;
  position: relative;
  height: 3px;
  background-color: black;
  border-radius: 5px;
}
.burger span:after, .burger span:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
  transition: 0.4s all ease;
}
.burger span:after {
  top: 10px;
}
.burger span:before {
  top: -10px;
}

@media (max-width: 1638px) {
  .logoBox .logo {
    width: 85px;
    height: 85px;
  }
  .logoBox a {
    font-size: 39px;
  }

  .menu__item {
    padding-right: 25px;
  }
  .menu__item a {
    font-size: 20px;
  }
}
@media (max-width: 1282px) {
  .logoBox .logo {
    width: 70px;
    height: 70px;
  }
  .logoBox a {
    font-size: 30px;
  }

  .menu__item {
    padding-right: 25px;
  }
  .menu__item a {
    font-size: 15px;
  }

  .left {
    justify-content: flex-start;
    align-items: center;
  }
  .left__body {
    margin-left: 10px;
  }
  .left__title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 100px;
    display: block;
  }
  .left__title span {
    text-align: center;
  }
  .left__btn {
    margin-left: 110px;
  }
}
@media (max-width: 1028px) {
  .logoBox {
    padding-top: 10px;
    align-self: flex-start;
  }
  .logoBox .logo {
    width: 100px;
    height: 100px;
  }
  .logoBox a {
    font-size: 50px;
  }

  .header__inner {
    height: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat Alternates", sans-serif;
  }

  .burger {
    visibility: visible;
    margin-left: 100%;
  }

  .close {
    width: 30px;
  }
  .close span {
    width: 0px;
    height: 2px;
    visibility: hidden;
    transition: 0.4s all ease;
  }
  .close span:after, .close span:before {
    transition: 0.4s all ease;
    visibility: visible;
  }
  .close span:after {
    transform: rotate(45deg);
    top: -2%;
  }
  .close span:before {
    transform: rotate(-45deg);
    top: 2%;
  }

  .icon-burger {
    visibility: visible;
  }

  .menu {
    z-index: 4;
    list-style: none;
    display: flex;
    position: relative;
    top: -500px;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    align-items: center;
    transition: 0.5s all ease;
  }
  .menu__item {
    padding-left: 0px;
    padding-top: 30px;
  }
  .menu__item a {
    font-size: 28px;
  }

  .visible {
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 2000px;
  }
}
@media (max-width: 942px) {
  .burger {
    margin-left: 70%;
  }
}
@media (max-width: 872px) {
  .burger {
    margin-left: 50%;
  }
}
@media (max-width: 871px) {
  .left {
    width: 100%;
    justify-content: center;
  }
  .left__body {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left__title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 100px;
    display: block;
  }
  .left__title span {
    text-align: center;
  }
  .left__btn {
    margin-left: 0px;
  }

  .right {
    visibility: hidden;
    width: 0%;
  }

  .menu {
    top: -550px;
  }
  .menu__item {
    padding-left: 0px;
    padding-top: 40px;
  }
  .menu__item a {
    font-size: 28px;
    color: #FFCB57;
  }
  .menu__item a:hover {
    color: #fff;
  }

  .visible {
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.icon-burger:before {
  content: "";
}

@media (max-width: 716px) {
  .header__inner {
    height: 10vh;
  }

  .content__inner {
    height: 90vh;
  }

  .burger {
    margin-left: 90%;
  }

  .logoBox .logo {
    width: 70px;
    height: 70px;
  }
  .logoBox a {
    font-size: 30px;
  }
}
@media (max-width: 588px) {
  .burger {
    margin-left: 70%;
  }
}
@media (max-width: 524px) {
  .burger {
    margin-left: 50%;
  }
}
@media (max-width: 488px) {
  .burger {
    margin-left: 40%;
  }

  .left__title {
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media (max-width: 438px) {
  .burger {
    margin-left: 20%;
  }
}
@media (max-width: 378px) {
  .burger {
    margin-left: 10%;
  }
}
@media (max-width: 346px) {
  .burger {
    margin-left: 20%;
  }

  .logoBox .logo {
    width: 50px;
    height: 50px;
  }
  .logoBox a {
    font-size: 25px;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    align-items: center;
    transition: 0.5s all ease;
  }
  .menu__item {
    padding-left: 0px;
    padding-top: 30px;
  }
  .menu__item a {
    font-size: 20px;
  }
}
/*******************************MAIN********************************/
/* PREVIW BLOCK*/
.preview {
  padding-top: 70px;
  width: 100wh;
  min-height: 61.5vh;
  background-color: #9a9a9a;
}
.preview__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.preview__left {
  background: url("../img/preview/cottageLeft.png");
  width: 860px;
  height: 448px;
  font-family: "Russo One", sans-serif;
  display: flex;
  justify-content: space-between;
}
.preview__left_l {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview__right {
  background: url("../img/preview/cottageRight.png");
  width: 267px;
  height: 441px;
  margin-left: 880px;
  font-family: "Open Sans", sans-serif;
}
.preview__left, .preview__right {
  position: absolute;
  top: -100px;
  padding-top: 93px;
}
.preview__title {
  width: 481px;
  font-size: 48.5px;
  line-height: 0.86;
  letter-spacing: 1.46px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.preview__button {
  padding-top: 46px;
  transition: 0.5s all ease;
}
.preview__button:hover {
  transform: rotate(10deg);
}
.preview__button a {
  background-color: #ffe7a1;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 0.87;
  letter-spacing: 0.75px;
  color: #333333;
  padding: 17px 35px;
}
.preview__pluses {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}
.preview__pluses_item {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.preview__pluses_item:first-child {
  padding-top: 0px;
}
.preview__pluses_item span {
  font-size: 50px;
}
.preview__text {
  width: 233px;
  font-size: 15px;
  line-height: 1.74;
  letter-spacing: 0.48px;
  color: #ffcb57;
  text-transform: uppercase;
  padding-left: 15px;
  text-align: center;
}
.preview__discount {
  position: relative;
  top: -19%;
  width: 144px;
  font-size: 35px;
  line-height: 1.73;
  letter-spacing: 0.88px;
  background-color: #ffe7a1;
  color: #000000;
  text-align: center;
}
.preview__banner {
  position: relative;
  top: -10%;
  width: 244px;
  text-align: center;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 1.16px;
  color: #ffffff;
}
.preview__banner span {
  font-size: 40px;
  padding-left: 5px;
  text-transform: uppercase;
}
.preview__desc {
  font-size: 18px;
  line-height: 1.08;
  letter-spacing: 0.45px;
  color: #ffffff;
  text-align: center;
}
.preview .btn__discount {
  padding-left: 15px;
}
.preview .btn__discount:hover {
  transform: rotate(-10deg);
}
.preview .btn__discount a {
  font-size: 18.5px;
  line-height: 1.08;
  letter-spacing: 0.46px;
  color: #000000;
  padding: 15px 40px;
}
@media (max-width: 1161px) {
  .preview__left, .preview__right {
    top: 0px;
    position: relative;
  }
  .preview__right {
    display: none;
  }
  .preview__inner {
    justify-content: center;
  }
}
@media (max-width: 836px) {
  .preview__left {
    width: 600px;
  }
  .preview__left_l {
    padding-top: 30px;
  }
  .preview__title {
    width: auto;
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 614px) {
  .preview__text {
    font-size: 12px;
  }
  .preview__pluses_item span {
    font-size: 30px;
  }
}
@media (max-width: 580px) {
  .preview__pluses {
    display: none;
  }
}
@media (max-width: 565px) {
  .preview__left {
    top: -150px;
  }
  .preview__title {
    line-height: 1.5;
  }
  .preview {
    padding-top: 0px;
  }
}
@media (max-width: 531px) {
  .preview__left {
    background: none;
  }
}

.discount__btn {
  padding-top: 46px;
  transition: 0.5s all ease;
}
.discount__btn:hover {
  transform: rotate(10deg);
}
.discount__btn a {
  background-color: #ffe7a1;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 0.87;
  letter-spacing: 0.75px;
  color: #333333;
  padding: 17px 35px;
}

/* TECHNOLOGY BLOCK*/
@font-face {
  font-family: "Century Gothic Regular";
  src: url("../fonts/CenturyGothic/CenturyGothic.eot");
  src: url("../fonts/CenturyGothic/CenturyGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothic/CenturyGothic.woff") format "woff", url("../fonts/CenturyGothic/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.technology {
  background: #eef4fa;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Century Gothic Regular";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
.technology__inner {
  padding-top: 70px;
}
.technology__title {
  color: #393648;
  font-size: 47.5px;
  line-height: 1.26;
  letter-spacing: 1.19px;
  text-align: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
.technology__content {
  display: flex;
  justify-content: space-between;
  padding-top: 137px;
}
.technology__card {
  width: 555px;
  height: 400px;
  background-repeat: no-repeat;
  position: relative;
}
.technology__brick {
  background: url(../img/technology/house.png);
}
.technology__wood {
  background: url(../img/technology/woodHouse.png);
}
.technology__label {
  position: absolute;
  width: 390px;
  height: 67px;
  background-color: #393648;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technology__label span {
  font-size: 38.5px;
  line-height: 1.26;
  color: #ffe7a1;
  text-transform: uppercase;
}
.technology__description {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 165px;
  height: 67px;
  background-color: #ffe7a1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.technology__description span {
  font-size: 21.5px;
  line-height: 1.26;
  letter-spacing: 0.54px;
  color: #393648;
}
@media (max-width: 1149px) {
  .technology {
    height: 100%;
  }
  .technology__content {
    flex-direction: column;
    align-items: center;
  }
  .technology__item {
    padding-bottom: 50px;
  }
}
@media (max-width: 583px) {
  .technology__card {
    width: 450px;
  }
}
@media (max-width: 463px) {
  .technology__card {
    width: 250px;
  }
  .technology__label {
    width: 250px;
  }
  .technology__label span {
    font-size: 25px;
    line-height: 1.26;
    color: #ffe7a1;
    text-transform: uppercase;
  }
  .technology__title {
    color: #393648;
    font-size: 35px;
    line-height: 1.26;
    letter-spacing: 1.19px;
    text-align: center;
  }
  .technology__content {
    padding-top: 70px;
  }
}

/*POPULAR BLOCK*/
.popular {
  font-family: "Century Gothic Regular";
  background: #333;
  background-size: cover;
}
.popular__inner {
  padding: 70px 0px;
}
.popular__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}
.popular__title {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 49px;
  line-height: 1.26;
  letter-spacing: 1.23px;
  color: #ffffff;
}
.popular__btn {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.94;
  letter-spacing: 0.43px;
  color: #333333;
  background-color: #ffe7a1;
  padding: 20px 10px;
}
.popular__content {
  display: flex;
  flex-direction: column;
}
.popular__upper, .popular__lower {
  display: flex;
  justify-content: space-between;
}
.popular__upper {
  padding-bottom: 40px;
}
.popular__item {
  border: 2px solid #ffe7a1;
}
.popular__image {
  background-repeat: no-repeat;
  width: 360px;
  height: 299px;
}
.popular__dd1 {
  background: url("../img/popular/dd-1.png");
}
.popular__dd2 {
  background: url("../img/popular/dd-2.png");
}
.popular__dd3 {
  background: url("../img/popular/dd-3.png");
  background-repeat: no-repeat;
}
.popular__kd1 {
  background: url("../img/popular/kd-1.png");
}
.popular__kd2 {
  background: url("../img/popular/kd-2.png");
  background-repeat: no-repeat;
}
.popular__kd3 {
  background: url("../img/popular/kd-3.png");
  background-repeat: no-repeat;
}
.popular__label {
  width: 163px;
  height: 41px;
  background-color: #333333;
  font-size: 28.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.71px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-top: 2px solid #333;
}
.popular__subimage {
  width: 360px;
  height: 149px;
  background-color: #ffe7a1;
  position: relative;
}
.popular__subimage hr {
  width: 350px;
  height: 1px;
  background-color: #333333;
  position: absolute;
  top: 40px;
  left: 5px;
  margin-top: 15px;
}
.popular__cost {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.45px;
  color: #393648;
}
.popular__square {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.45px;
  color: #585255;
  text-transform: uppercase;
  padding-top: 45px;
}
.popular__square span {
  text-transform: none;
}
.popular__cost, .popular__square {
  position: absolute;
  top: 20px;
  left: 5px;
}
.popular__view {
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.23;
  letter-spacing: 0.33px;
  color: #585255;
  transition: 0.5s all ease;
}
.popular__view:after {
  transition: 0.5s all ease;
  content: "";
  position: absolute;
  display: block;
  right: -10px;
  top: 30%;
  width: 9px;
  height: 1px;
  background-color: #585255;
  transform: rotate(45deg);
}
.popular__view:before {
  transition: 0.5s all ease;
  content: "";
  position: absolute;
  display: block;
  right: -10px;
  top: 70%;
  width: 9px;
  height: 1px;
  background-color: #585255;
  transform: rotate(-45deg);
}
.popular__view:hover:before, .popular__view:hover:after {
  right: -15px;
}
@media (max-width: 1131px) {
  .popular__upper, .popular__lower {
    flex-direction: column;
    align-items: center;
  }
  .popular__upper {
    padding-bottom: 0px;
  }
  .popular__item {
    margin-top: 20px;
  }
}
@media (max-width: 765px) {
  .popular__title {
    font-size: 35px;
  }
}
@media (max-width: 603px) {
  .popular__header {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .popular__title {
    padding-bottom: 40px;
  }
}
@media (max-width: 421px) {
  .popular__title {
    font-size: 25px;
  }
  .popular__btn {
    padding: 15px 5px;
  }
}
@media (max-width: 383px) {
  .popular__image {
    width: 300px;
  }
  .popular__subimage {
    width: 300px;
  }
}

.container__about {
  max-width: 780px;
  padding: 0 15px;
  margin: 0 auto;
}

.about {
  font-family: "Century Gothic Regular";
  background-color: #cdd7cc;
  background-size: cover;
}
.about__inner {
  padding: 70px 0px;
}
.about__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 42px;
}
.about__title_l {
  width: 457px;
  text-align: center;
  font-size: 31px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: 0.78px;
  color: #000000;
}
.about__title_r {
  width: 554px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.26;
  letter-spacing: 0.38px;
  color: #ffffff;
}
.about__formBg {
  background: url("../img/about/bgForm.png");
  background-repeat: no-repeat;
  width: 750px;
  height: 310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 47px;
}
.about__description {
  width: 354px;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: 0.38px;
  text-align: center;
  color: #ffffff;
}
.about__description span {
  color: #ffe7a1;
}
.about__form {
  display: flex;
  flex-direction: column;
}
.about__name, .about__tel {
  background-color: transparent;
  border-bottom: 2px solid #dddbdb;
  padding: 0px 0px 3px 30px;
  margin-bottom: 20px;
  width: 262px;
  color: white;
}
.about__name::-ms-input-placeholder, .about__tel::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.76);
}
.about__name::placeholder, .about__tel::placeholder {
  color: rgba(255, 255, 255, 0.76);
}
.about__btn {
  background-color: #ffe7a1;
  padding: 10px 5px;
  cursor: pointer;
}
.about__btn-l {
  padding: 9px 5px;
}
.about__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__image {
  display: none;
}
.about__input-wrapper {
  position: relative;
}
.about__input-wrapper span {
  position: absolute;
  left: 0;
}
.about .icon-phone-icon {
  font-size: 18px;
  color: #fff;
}
.about .icon-name-icon {
  font-size: 19px;
  color: #fff;
}
@media (max-width: 779px) {
  .about__title_l {
    font-size: 20px;
  }
  .about__title_r {
    font-size: 12px;
  }
  .about__formBg {
    width: 550px;
    flex-direction: column;
  }
}
@media (max-width: 619px) {
  .about__formBg {
    width: 450px;
    flex-direction: column;
  }
}
@media (max-width: 469px) {
  .about__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 42px;
  }
  .about__title_l, .about__title_r {
    width: auto;
  }
  .about__title_l {
    padding-bottom: 20px;
  }
  .about__title_r {
    font-size: 15px;
  }
  .about__formBg {
    width: 350px;
  }
}
@media (max-width: 367px) {
  .about__formBg {
    width: 270px;
  }
  .about__description {
    width: 254px;
    font-size: 13px;
  }
}
.about__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__sub {
  display: flex;
  align-items: center;
}
.about__txtVideo {
  font-size: 19.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.95;
  letter-spacing: 0.49px;
  color: #000000;
}
.about__subscribe {
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.95;
  letter-spacing: 0.48px;
  color: #000000;
  border-bottom: 1px solid black;
}
.about .icon-youtube-icon {
  font-size: 30px;
  color: #333033;
}
.about__video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 609px) {
  .about__txtVideo {
    font-size: 15px;
  }
  .about__subscribe {
    font-size: 15px;
  }
  .about .icon-youtube-icon {
    font-size: 25px;
  }
}
@media (max-width: 471px) {
  .about__lower {
    flex-direction: column;
  }
  .about__txtVideo {
    padding-bottom: 10px;
  }
  .about .icon-youtube-icon {
    font-size: 20px;
  }
}

.popup {
  font-family: "Open Sans", sans-serif;
  width: 300px;
  height: 250px;
  background: #393648;
  z-index: 100;
  padding: 23px 0 0 27px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0);
  transition: 0.4s all ease;
  position: fixed;
}
.popup.active__popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1);
}
.popup__bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.popup__form {
  display: flex;
  flex-direction: column;
}
.popup__title {
  font-size: 20px;
  padding-bottom: 20px;
  margin-right: 30px;
  color: white;
}
.popup__name, .popup__tel {
  background-color: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  margin-right: 30px;
  color: whitesmoke;
}
.popup__submit {
  margin-right: 30px;
  background-color: #FFE7A1;
  padding: 10px;
}

/*Стили для экрана, который появляется при загрузке страницы*/
.preloader {
  font-family: "Montserrat Alternates", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #333;
  z-index: 101;
}
.preloader__text {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #FFDE6A;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}
.preloader__text small {
  font-size: 25px;
}
.preloader__animation {
  position: absolute;
  width: 41px;
  height: 41px;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}

/*СТРАНИЦА allProjects*/
.headerPr {
  background-color: #97a49b;
}
.headerPr .icon-contacts-icon {
  color: white;
}
@media (max-width: 530px) {
  .headerPr {
    background: #cdd7cc;
  }
}

.previewPr {
  background: #cdd7cc;
}
.previewPr .preview__button {
  visibility: hidden;
}
@media (max-width: 425px) {
  .previewPr .preview__call {
    visibility: visible;
  }
  .previewPr .preview__call a {
    font-size: 15px;
  }
}

.container780 {
  max-width: 780px;
  padding: 0px 15px;
  margin: 0 auto;
}

.allProjects {
  padding-bottom: 70px;
  background: #cdd7cc;
  font-family: "Montserrat Alternates", sans-serif;
}
.allProjects__title {
  font-size: 42px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 1.05px;
  color: #000000;
}
.allProjects__title-l {
  padding-top: 70px;
}
.allProjects__block {
  display: flex;
  justify-content: space-between;
}
.allProjects__item {
  padding-top: 50px;
}
.allProjects__individual {
  position: relative;
  width: 352px;
  height: 277px;
  border: 4px solid #FFE7A1;
}
.allProjects__individual:before, .allProjects__individual:after {
  position: absolute;
  content: "";
  display: block;
  background-color: white;
  transform: scale(1);
  transition: 0.5s all ease;
}
.allProjects__individual:after {
  top: 15%;
  left: 50%;
  width: 5px;
  height: 187px;
}
.allProjects__individual:before {
  top: 50%;
  left: 24%;
  height: 5px;
  width: 187px;
}
.allProjects__individual:hover:after, .allProjects__individual:hover:before {
  transform: scale(0);
}
.allProjects__individual img {
  width: 343.8px;
  height: 269.5px;
  transform: scale(0);
  transition: 0.5s all ease;
}
.allProjects__individual:hover img {
  transform: scale(1);
}
.allProjects__all img {
  width: 352px;
  height: 277px;
  border: 4px solid #FFE7A1;
}
.allProjects__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.5px;
  color: #000000;
}
@media (max-width: 743px) {
  .allProjects__block {
    flex-direction: column;
    align-items: center;
  }
  .allProjects__title {
    text-align: center;
  }
}
@media (max-width: 395px) {
  .allProjects__all img {
    width: 300px;
    height: 250px;
    border: 4px solid #FFE7A1;
  }
  .allProjects__individual {
    position: relative;
    width: 300px;
    height: 250px;
    border: 4px solid #FFE7A1;
  }
  .allProjects__individual:before, .allProjects__individual:after {
    position: absolute;
    content: "";
    display: block;
    background-color: white;
    transform: scale(1);
    transition: 0.5s all ease;
  }
  .allProjects__individual:after {
    top: 15%;
    left: 50%;
    width: 5px;
    height: 187px;
  }
  .allProjects__individual:before {
    top: 50%;
    left: 20%;
    height: 5px;
    width: 187px;
  }
  .allProjects__individual:hover:after, .allProjects__individual:hover:before {
    transform: scale(0);
  }
  .allProjects__individual img {
    width: 292px;
    height: 242px;
  }
}

/*Страница с калькулятором (Индивидуальный проект)*/
.headerCalc {
  background: #CDD7CC;
}
.headerCalc .btn__discount {
  visibility: visible;
}
.headerCalc hr {
  background-color: black;
}
.headerCalc .icon-contacts-icon {
  color: white;
}
@media (max-width: 530px) {
  .headerCalc {
    background: #97A49B;
  }
}

.previewCalc {
  background: #97A49B;
}

.footerCalc {
  background: #CDD7CC;
}

.calculator {
  padding-bottom: 70px;
  font-family: "Montserrat Alternates", sans-serif;
  background: #97A49B;
}
.calculator__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculator__title {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.6px;
  text-align: center;
}
.calculator__description {
  font-size: 15.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.4px;
  text-align: center;
  color: #000000;
}
.calculator__content {
  padding-top: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculator__name {
  font-size: 23px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.58px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 60px;
}
.calculator__form {
  text-align: center;
}
.calculator__item {
  margin-bottom: 52px;
}
.calculator__item:last-child {
  padding-top: 30px;
}
.calculator__item_l {
  margin-bottom: 10px;
}
.calculator__text {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: #ffffff;
  padding-bottom: 23px;
}
.calculator__text_m {
  cursor: pointer;
  position: relative;
}
.calculator__text_m:before {
  position: absolute;
  content: "";
  width: 7px;
  height: 2px;
  background-color: white;
  right: 0px;
  top: 10px;
  transform: rotate(45deg);
  transition: 0.4s all ease;
}
.calculator__text_m:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 2px;
  background-color: white;
  right: -5px;
  top: 10px;
  transform: rotate(-45deg);
  transition: 0.4s all ease;
}
.calculator__text_m.active:after, .calculator__text_m.active:before {
  background-color: #FFE7A1;
}
.calculator__text_m.active:before {
  transform: rotate(-45deg);
}
.calculator__text_m.active:after {
  transform: rotate(45deg);
}
.calculator__text_m.active input[type=radio] {
  margin-bottom: 12px;
}
.calculator__text_last {
  padding-bottom: 12px;
}
.calculator__radio {
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.calculator__radio:before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #97A49B;
}
.calculator__radio:after {
  left: 1px;
  top: 1px;
  content: "";
  position: absolute;
  background-color: transparent;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}
.calculator__radio:checked:after {
  background-color: #FFE7A1;
}
.calculator__radio:focus:after {
  background-color: #FFE7A1;
}
.calculator input[type=radio] {
  margin-left: 15px;
}
.calculator__input {
  margin-left: 15px;
  text-align: center;
}
.calculator__case {
  cursor: pointer;
  color: white;
}
.calculator__case_m {
  margin-bottom: 10px;
}
.calculator__input {
  background-color: transparent;
  border-bottom: 2px solid white;
  color: #FFE7A1;
}
.calculator__result {
  margin-top: 0px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.calculator__button {
  background-color: #FFE7A1;
  cursor: pointer;
  padding: 10px 15px;
}
.calculator__cost {
  transition: 0.3s all ease;
}
.calculator__subdesc {
  display: none;
  width: 350px;
  margin-bottom: 20px;
}
.calculator .icon-phone-icon {
  font-size: 18px;
  color: #fff;
}
.calculator .icon-name-icon {
  font-size: 19px;
  color: #fff;
}
.calculator .about__btn {
  background-color: #ffe7a1;
  padding: 9.5px 5px;
  cursor: pointer;
  margin-left: 10px;
}
.calculator .about__btn-l {
  padding: 9px 5px;
}
@media (max-width: 1129px) {
  .calculator__content {
    flex-direction: column;
  }
  .calculator__result {
    margin-bottom: 20px;
  }
}
@media (max-width: 375) {
  .calculator__title {
    text-align: center;
  }
}
@media (max-width: 368px) {
  .calculator .about__btn {
    background-color: #ffe7a1;
    padding: 7px 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 10px;
  }
  .calculator .about__btn span {
    font-size: 10px;
  }
}
@media (max-width: 364px) {
  .calculator__text_m.active:after, .calculator__text_m.active:before {
    background-color: #FFE7A1;
  }
  .calculator__text_m.active:before {
    right: 20px;
    transform: rotate(-45deg);
  }
  .calculator__text_m.active:after {
    right: 15px;
    transform: rotate(45deg);
  }
}
@media (max-width: 350px) {
  .calculator input[type=radio] {
    margin-left: 5px;
  }
}
@media (max-width: 338px) {
  .calculator__text_m:before {
    right: -7px;
  }
  .calculator__text_m:after {
    right: -12px;
  }
  .calculator__text_m.active:after, .calculator__text_m.active:before {
    background-color: #FFE7A1;
  }
  .calculator__text_m.active:before {
    right: 20px;
    transform: rotate(-45deg);
  }
  .calculator__text_m.active:after {
    right: 15px;
    transform: rotate(45deg);
  }
}

/*Страница BuildedProjects*/
.headerBuilded {
  background: #666765;
}
.headerBuilded .icon-contacts-icon {
  color: white;
}
.headerBuilded hr {
  background: black;
}

.footerBuilded {
  background: #666765;
}

.previewBuilded {
  background: #3E4245;
}

.builded {
  background: #3E4245;
  color: #f5f5f5;
  font-family: "Montserrat Alternates", sans-serif;
  font-stretch: normal;
  font-style: normal;
  padding-bottom: 70px;
  font-weight: 500;
}
.builded__title {
  font-size: 33px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.83px;
  text-align: center;
  padding-bottom: 70px;
}
.builded__content {
  display: flex;
  justify-content: space-between;
}
.builded__view {
  display: flex;
  flex-direction: column;
}
.builded__house {
  display: flex;
  padding-bottom: 70px;
}
.builded__house:last-child {
  padding-bottom: 0px;
}
.builded__right {
  padding-left: 33px;
}
.builded__name {
  padding-bottom: 9px;
}
.builded__name, .builded__parametrs {
  font-size: 23.5px;
  line-height: 1.62;
  letter-spacing: 0.59px;
}
.builded__slider {
  width: 358px;
  height: 258px;
  border: 4px solid #ffe7a1;
}
.builded__img {
  width: 358px;
  height: 258px;
}
.builded__img img {
  width: 350px;
  height: 251px;
}
.builded__parametrs {
  padding-bottom: 30px;
}
.builded__link {
  font-size: 15px;
  padding-bottom: 22px;
  letter-spacing: 0.38px;
  color: #ffe7a1;
  position: relative;
}
.builded__link:before, .builded__link:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 1px;
  background-color: #ffe7a1;
  transition: 0.4s all ease;
}
.builded__link:before {
  right: -15px;
  transform: rotate(40deg);
  top: 6.5px;
}
.builded__link:after {
  right: -15px;
  top: 12.5px;
  transform: rotate(-40deg);
}
.builded__link:hover:after {
  right: -20px;
  transform: rotate(40deg);
}
.builded__link:hover:before {
  right: -20px;
  transform: rotate(-40deg);
}
.builded__text {
  font-size: 15px;
  padding-bottom: 22px;
  letter-spacing: 0.38px;
}
.builded__text:last-child {
  padding-bottom: 0px;
  padding-top: 35px;
}

.filter__title {
  font-size: 23px;
  line-height: 1.76;
  letter-spacing: 0.58px;
  text-align: center;
  padding-bottom: 33px;
  position: relative;
  cursor: pointer;
}
.filter__title:before {
  content: "";
  width: 11px;
  height: 1px;
  position: absolute;
  background-color: #f5f5f5;
  right: 20px;
  transform: rotate(45deg);
  top: 20px;
}
.filter__title:after {
  content: "";
  width: 11px;
  height: 1px;
  position: absolute;
  background-color: #f5f5f5;
  right: 12px;
  transform: rotate(-45deg);
  top: 20px;
}
.filter input[type=text] {
  margin-bottom: 17px;
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 90px;
  margin-right: 15px;
  color: #FFE7A1;
}
.filter__rooms {
  padding-top: 17px;
}
.filter__text {
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.38px;
  padding-bottom: 10px;
}
.filter__wood, .filter__brick {
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.38px;
}
@media (max-width: 905px) {
  .builded__content {
    flex-direction: column;
  }

  .filter {
    display: flex;
    order: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }
  .filter__title:before {
    content: "";
    width: 11px;
    height: 1px;
    position: absolute;
    background-color: #f5f5f5;
    right: -20px;
    transform: rotate(45deg);
    top: 20px;
  }
  .filter__title:after {
    content: "";
    width: 11px;
    height: 1px;
    position: absolute;
    background-color: #f5f5f5;
    right: -27.5px;
    transform: rotate(-45deg);
    top: 20px;
  }

  .builded__view {
    order: 2;
    align-items: center;
  }
}
@media (max-width: 615px) {
  .builded__house {
    flex-direction: column;
    align-items: center;
  }

  .builded__text:last-child {
    padding-top: 10px;
  }

  .builded__parametrs {
    padding-top: 20px;
  }
}
@media (max-width: 400px) {
  .builded__slider {
    width: 300px;
  }

  .builded__img img {
    width: 300px;
  }
}