@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g3gj4s');
  src:  url('fonts/icomoon.eot?g3gj4s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g3gj4s') format('truetype'),
    url('fonts/icomoon.woff?g3gj4s') format('woff'),
    url('fonts/icomoon.svg?g3gj4s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-name-icon:before {
  content: "\e900";
}
.icon-phone-icon:before {
  content: "\e901";
}
.icon-youtube-icon:before {
  content: "\e902";
}
.icon-people-icon:before {
  content: "\e903";
}
.icon-crown-icon:before {
  content: "\e904";
}
.icon-key-icon:before {
  content: "\e905";
}
.icon-contacts-icon:before {
  content: "\e906";
}
.icon-telephone-icon:before {
  content: "\e907";
}
